/*Наша деятельность*/

.activity {
   
 padding-top: 0 ;
 &__paragraph {
            position: relative;
        }

&__aplication {

    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primery-white-color);
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(47, 48, 58, 0.8);
    text-align: center;
    padding: 27px;

}

}

