/*Footer*/

.conect {
    margin-right: 70px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.icon-foot {
    fill: var(--primery-white-color)
}

.join {
    margin-right: 92px;
}

.join-up {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primery-white-color);
    margin-bottom: 20px;

}

.footer {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    background-color: var(--foter-background-color);
}

.footer-address {
    margin-top: 20px;
}

.bottom-box:not(:last-child) {
    margin-bottom: 9px;
}

.bottom .list,
.bottom .town,
.bottom .link {
    text-decoration: none;
}

.bottom .town {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primery-white-color);
    transition: color var(--transition);


    &:hover,
    &:focus,{
        color: var(--accent-color);
    }

}

.bottom .link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--transparent-color);
    transition: color var(--transition);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

}


