.portfolio__text {
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 10px;
    top: 0;
    left: 0;
    background-color: var(--portfolio-txt-background-color);
    color: var(--primery-white-color);


    position: absolute;
    overflow: auto;
    transform: translateY(100%);   
    transition: transform var(--transition), opacity var(--transition), box-shadow var(--transition);
}


.portfolio__text p {  
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--primery-white-color);
}

.portfolio__link {
    display: block;
    transition: box-shadow var(--transition);

    &:hover,
        &:focus {
            box-shadow: var(--box-shadow-color);
        }

    &:hover .portfolio__text,
    &:focus .portfolio__text {
        transform: translateY(0);
        opacity: 1;
        box-shadow: var(--box-shadow-color);
    }

}



.portfolio__wrapper{
    position: relative;
    overflow: hidden;
}


.portfolio__card {
    padding: 20px 24px 20px 24px;
    border-bottom: 1px solid var( --staff-color);
    border-right: 1px solid var( --staff-color);
    border-left: 1px solid var( --staff-color);

}


.portfolio__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);

}

.portfolio__function {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}

