/*Subscribe*/

.subscribe-form {
    display: flex;
    align-items: center;
    @include mq(no-desk){
        flex-direction: column;

    }

}

.subscribe-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 28px;
}

.subscribe-input {
   
    width: 100%;
    height: 50px;
    padding: 15px 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: var(--foter-background-color);
  
   

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--transparent-color);

    @include mq(no-desk){
    max-width: 450px;
    margin-bottom: 20px;
    }
    @include mq(desk){
        width: 358px;
        margin-right: 12px;
    }


    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: var(--transparent-color);

        display: flex;
        align-items: center;
    }
    
}


.subscribe-icon {
    margin-left: 10px;
    fill: currentColor;
}