.form {
    display: flex;
    flex-direction: column;

&-input {
        padding: 12px;
        width: 100%;
        border-radius: 4px;
        outline: none;
        transition: border var(--transition);
        border: 1px solid var(--form-input-border);
        height: 40px;

        &:hover,
        &:focus {
            border: 1px solid var(--accent-color);

        }
    }


&-textarea {
        height: 120px;
        resize: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: var(--title-text-color);    
        transition: color var(--transition);
    
    
        &::placeholder {
            color: var(--placeholder-color);
            }
    
        }

&-label {
        display: flex;
         flex-direction: column;

         &:not(:last-child) {
             margin-bottom: 10px;
    }

}

&-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--transition);

   

    .form-input:hover+&,
    .form-input:focus+& {
        fill: var(--accent-color);
    }
}

 &-icon:hover,
 &-icon:focus {
     fill: var(--accent-color);
}


&-icon-check {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 7px;

    border: 2px solid var(--title-text-color);
    border-radius: 4px;
    transition: border var(--transition);

    .check-input:hover+&,
    .check-input:focus+& {
        border: 2px solid var(--accent-color);

    }


    .check-input:checked+& {
        border-color: transparent;
        background-color: var(--accent-color);
        background-image: url("../images/last-vector.svg");
        /* background-size: 11px 8px; */
        background-origin: border-box;
        background-position: center;
        background-repeat: no-repeat;
    }

}

}






.form-label-wrap {
    margin-bottom: 20px;
}

.form-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primery-text-color);
    margin-bottom: 4px;
}

.form-icon-wrap {
    position: relative;
}

.form-icon-wrap .form-input {
    padding-left: 40px;
}

.check-input {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
    margin-right: 7px;
}

/* Checkbox */

.form-label-check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}

.checkbox-text {
    font-weight: 400;
    font-size: 14px;

    letter-spacing: 0.03em;
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    line-height: 1;
    text-decoration: none;

}

.check-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);

}

.check-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}





