
/*ICON-SPRITE*/

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;

}

.contacts__icon {

    margin-right: 10px;
    fill: currentColor;

}

// .cross {
//     fill: var(--logo-black-color);



// }


// .idea {
//     display: flex;
//     text-align: center;
//     margin-left: auto;
//     margin-right: auto;
// }


// .interaction {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .images {
//     display: flex;
//     list-style: none;
//     justify-content: space-between;
//     margin-top: 50px;


// }

// .images-foto {
//     width: 370px;
//     height: 294px;
// }

