/*Staff*/

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;


}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: var(--staff-background-color);
    transition: background var(--transition);

    &:hover,
    &:focus {
        background: var(--accent-color);    
    }

    &:hover .icon,
    &:focus .icon {
            fill: var(--primery-white-color)
        }

}

.icon {
    fill: var(--icon-fill);
    transition: fill var(--transition);

    &:hover,
    &:focus {
        fill: var(--primery-white-color)
    }

}

.social-item:not(:last-child) {
    margin-right: 10px;

}

