.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container-main-div {
    display: flex;
    align-items: center;

}

.container-button-work {
    padding-top: 94px;
}

/*Main nav*/

.main {
    display: flex;
    align-items: center;
}