.container {
    width: 100%;  
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @include mq(mob) {
            max-width: 480px;
        }

    @include mq(tab) {
         max-width: 768px;
    }
    
    @include mq(desk) {
        max-width: 1200px;
    }
}

.container-main-div {

    display: flex;
    align-items: center;

}

.container-button-work {
    padding-top: 94px;
}

/*Main nav*/

.main { 
    position: relative;

    display: flex;
    align-items: center;
}